  <div class=student>
    <%= student.name %>
    <div class="update_button">
      <a href=""><i class="fa fa-pencil" aria-hidden="true"></i></a>
    </div>
    <div class="delete_button">
      <%= link_to student_path(student), method: :delete, remote: true, data: { confirm: "Remove #{student.name}?" } do %>
        <i class="fa fa-trash" aria-hidden="true"></i>
      <% end %>
    </div>
    <div class="form_space invisible">
      <%= render "edit_form", student: student %>
    </div>
  </div>
