<div id="new_student">
    <%= render "form", student: Student.new %>
</div>
<div id="students">
  <% @students.each do |student| %>
    <div class="student">
      <%= student.name %>
      <%= link_to edit_student_path(student) do %>
        <i class="fa fa-pencil" aria-hidden="true"></i>
      <% end %>
      <%= link_to student_path(student), method: :delete, data: { confirm: "Remove #{student.name}?" } do %>
        <i class="fa fa-trash" aria-hidden="true"></i>
      <% end %>
      <br>
    </div>
  <% end  %>
</div>
