<div id="new_student">
    <%= render "new_form", student: Student.new %>
</div>
<div id="students">
  <% @students.each do |student| %>
    <div class="student">
      <%= student.name %>

      <div class="update_button">
        <i class="fa fa-pencil" aria-hidden="true"></i>


      <div class="invisible">
        <%= render "edit_form", student: student %>
      </div>
      </div>


      <%#= link_to student_path(student), method: :delete, data: { confirm: "Remove #{student.name}?" } do %>
        <!-- <i class="fa fa-trash" aria-hidden="true"></i> -->
      <%# end %>
      <br>
    </div>
  <% end  %>
</div>
