<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <h1>list of students:</h1>

      <div id="students">
        <% @students.each do |student| %>
          <%= render "show", student: student %>
        <% end  %>
      </div>

      <div id="new_student">
        <%= render "new_form", student: Student.new %>
      </div>
    </div>
  </div>
</div>
