// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.invisible {
  display: none;
}

#students {
  margin-top: 20px;
}

.student {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 15px 0px;
}

.update_button {
  margin: 0px 5px 0px 25px;
}

.form_space {
  margin-top: 5px;
  width: 100%;
}

.new_student {
  margin: 20px 0px;
}

.fa {
  color: gray;
}

a, a:hover {
  color: gray;
  text-decoration: none;
}
