<!DOCTYPE html>
<html>
  <head>
    <title>StudyadvisorTest</title>
    <%= csrf_meta_tags %>


  </head>

  <body>
    <%= yield %>
  </body>
    <%= javascript_include_tag "application" %>
    <%= javascript_pack_tag "application" %>
</html>
